* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  min-height: 100vh;
  font-family: var(--font-host-grotesk);

}


:root {
  --primary-dark: #181717;
  --primary-light: #F4EFE7;
  --secondary-light: #B1A596;
  --secondary-dark: #292725;
}

