/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  min-height: 100vh;
  font-family: var(--font-host-grotesk);

}


:root {
  --primary-dark: #181717;
  --primary-light: #F4EFE7;
  --secondary-light: #B1A596;
  --secondary-dark: #292725;
}


/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/app/layout.js","import":"","arguments":[{"src":[{"path":"../../public/Font/HostGrotesk-VariableFont_wght.ttf","style":"normal"},{"path":"../../public/Font/HostGrotesk-Italic-VariableFont_wght.ttf","style":"italic"}],"variable":"--font-host-grotesk"}],"variableName":"hostGrotesk"} ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'hostGrotesk';
src: url(/_next/static/media/5248a50f8f314535-s.p.ttf) format('truetype');
font-display: swap;
font-style: normal;
}

@font-face {
font-family: 'hostGrotesk';
src: url(/_next/static/media/90d95c63c6e090ac-s.p.ttf) format('truetype');
font-display: swap;
font-style: italic;
}@font-face {font-family: 'hostGrotesk Fallback';src: local("Arial");ascent-override: 95.95%;descent-override: 29.78%;line-gap-override: 0.00%;size-adjust: 105.78%
}.__className_96a24c {font-family: 'hostGrotesk', 'hostGrotesk Fallback'
}.__variable_96a24c {--font-host-grotesk: 'hostGrotesk', 'hostGrotesk Fallback'
}

